<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>

				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0"
                                 newVersion="СЮДА_ВСТАВИТЬ_РЕАЛЬНУЮ_ВЕРСИЮ" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
